PUID=1000
PGID=1000

TIMEZONE=Europe/Madrid

SETTINGS_KEY=CHANGE_ME
DUPLICATI_PASSWORD=CHANGE_ME

ALLOWED_HOSTS=*

DUPLICATI_PORT=8200

DUPLICATI_CONFIG=/opt/data/duplicati
BACKUP_STORAGE=/opt/backups

STACKS_SOURCE=/opt/stacks
DATA_SOURCE=/opt/data
