PROMETHEUS_PORT=9090
GRAFANA_PORT=3002
LOKI_PORT=3100
PROMTAIL_CONFIG=/opt/data/monitoring/promtail
PROMETHEUS_CONFIG=/opt/data/monitoring/prometheus
GRAFANA_DATA=/opt/data/monitoring/grafana
LOKI_CONFIG=/opt/data/monitoring/loki
TIMEZONE=Europe/Madrid
